.slick {
    &-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: flex;
        align-items: center;

        li {
            display: inline-block;
            margin: 0 0.5rem;
        }

        button {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: $gray;
            border: 0.1rem solid $dark;
            padding: 0;
            font-size: 0;
        }

        .slick-active {
            button {
                width: 2rem;
                height: 2rem;
                background: $yellow;
            }
        }
    }
}

.slider-btn {
    background-color: transparent;
    z-index: 100;

    svg {
        width: 4.4rem;
        height: 4.4rem;
        transition: .3s transform;

        @media(max-width: 768px) {
            width: 3rem;
            height: 3rem;
        }

        path {
            transition: .3s stroke;
        }
    }

    &--next {
        margin-left: 4rem;

        @media(max-width: 768px) {
            margin-left: 2.5rem;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            svg {
                transform: scale(1.25);
            }
        }
    }
}

.slick-list {
    overflow: visible;
}

.slick-slide {
    opacity: 0;
    margin-right: 4.8rem;

    @media(max-width: 992px) {
        margin-right: 2rem;
        opacity: 1;
    }
}

.slick-active+.slick-slide {
    opacity: 1;
}

.slick-current,
.slick-active {
    opacity: 1;
}

.slider-arrows {
    display: flex;
    justify-content: flex-end;
    padding: 8rem 0 4rem;

    @media(max-width: 992px) {
        padding: 3rem 0;
    }

    @media(max-width: 500px) {
        padding: 2rem 0;
    }
}

.slick-disabled {
    svg {
        path {
            stroke: $dark-gray;
        }
    }
}