.course-auditory {

    &:before {
        top: 11.2rem;
    }

    // .course-auditory__card

    &__card {
        min-height: 33.6rem;
        padding: 2.8rem 3rem 2rem;

        @media(max-width: 992px) {
            padding: 1.5rem;
            min-height: auto;
        }
    }

    // .course-auditory__card-img

    &__card-img {
        margin: 0 auto 4.3rem;

        img {
            margin: 0 auto;
        }
    }

    // .course-auditory__card-text

    &__card-text {
        color: $dark;
        text-align: center;
    }
}