.course-details {
    padding: 5rem 6.5rem;

    @media(max-width: 992px) {
        padding: 5rem;
    }

    @media(max-width: 768px) {
        padding: 3rem;
    }

    &__title {
        margin-bottom: 2rem;

        @media(max-width: 500px) {
            margin-bottom: 1rem;
        }
    }

    &__subtitle {
        margin-bottom: 1.6rem;

        @media(max-width: 500px) {
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin-bottom: 3.2rem;

        @media(max-width: 992px) {
            margin-bottom: 2.5rem;
        }

        @media(max-width: 500px) {
            margin-bottom: 2rem;
        }
    }

    &__btn {
        margin-top: 4rem;

        @media(max-width: 768px) {
            margin-top: 2rem;
        }
    }
}