<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "О нас"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="container">
            <nav class="breadcrumbs" aria-label="breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="home.html">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>
                            О нас
                        </span>
                    </li>
                </ol>
            </nav>
            <main class="about-us">
                <div class="page-top about-us__top">
                    <h1>О нас</h1>
                    <nav class="page-nav">
                        <a href="#" class="page-nav__item page-link title-40">
                            О компании
                        </a>
                        <a href="#" class="page-nav__item page-link title-40">
                            Мероприятия
                        </a>
                        <a href="#" class="page-nav__item page-link title-40">
                            Новости
                        </a>
                    </nav>
                </div>
                <div class="about-us__content">
                    <div class="text about-us__text">
                        <p>
                            Миссия NEXT LEVEL – открыть доступ к принципиально новому уровню качества образования и
                            обучения профессиональным навыкам. А также создание уникального комьюнити увлеченных,
                            нацеленных
                            на саморазвитие единомышленников.
                        </p>
                        <p>
                            Более 10 лет мы помогаем профессионально развиваться.
                        </p>
                        <p class="big-decor-title"><span class="decor">У нас получается.</span></p>
                    </div>
                    <section class="we-teach">
                        <h2 class="big-title we-teach__title">
                            Мы учим
                        </h2>
                        <ul class="we-teach__list">
                            <li class="we-teach__item">
                                <div class="we-teach__item-img">
                                    <img src="img/about/eye.png" alt="">
                                </div>
                                <div class="we-teach__item-title decor-title title-40">
                                    <span class="decor">ВИДЕТЬ</span>
                                    <span class="no-decor">свои сильные качества</span>
                                </div>
                            </li>
                            <li class="we-teach__item">
                                <div class="we-teach__item-img">
                                    <img src="img/about/chart.png" alt="">
                                </div>
                                <div class="we-teach__item-title decor-title title-40">
                                    <span class="decor">РАЗВИВАТЬ</span>
                                    <span class="no-decor">их в востребованные навыки</span>
                                </div>
                            </li>
                            <li class="we-teach__item">
                                <div class="we-teach__item-img">
                                    <img src="img/about/123.png" alt="">
                                </div>
                                <div class="we-teach__item-title decor-title title-40">
                                    <span class="decor">ПРИМЕНЯТЬ</span>
                                    <span class="no-decor">для успеха в работе и жизни</span>
                                </div>
                            </li>
                        </ul>
                        <div class="text about-us__text">
                            <p>
                                Отличие нашего подхода в том, что мы не предлагаем знания, чтобы складывать их в
                                копилку. Но
                                предлагаем вам измениться самим.
                            </p>
                            <ul class="list about-us__list">
                                <li class="list__item">Научиться иначе мыслить.</li>
                                <li class="list__item">Общаться.</li>
                                <li class="list__item">Ощущать себя увереннее.</li>
                            </ul>
                            <p>
                                И тогда уже никакие шторма внешнего мира не сокрушат вашу стабильность и путь к успеху.
                            </p>
                        </div>
                    </section>
                </div>
            </main>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>