<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', { "title": "Страница курса 1" })

<body>
	<div class="wrapper" style="background-color: #fde7e6">
		@@include('../../blocks/modules/header/_header.html')
		<nav class="breadcrumbs">
			<div class="container">
				<ol class="breadcrumbs__list">
					<li class="breadcrumbs__item"><a href="#">Главная</a></li>
					<li class="breadcrumbs__item">
						<a href="#">Программы обучения</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#">Эффективные деловые коммуникации на английском</a>
					</li>
				</ol>
			</div>
		</nav>
		<main class="page course">
			<section class="promo-course">
				<div class="container">
					<h1 class="visually-hidden">Деловые коммуникации</h1>
					<div class="promo-course__suptitle title-80">
						Эффективные Деловые
					</div>
					<div class="page-title promo-course__title">коммуникации</div>
					<div class="promo-course__inner">
						<img class="promo-course__img" src="img/hello.png" alt="" />
						<div class="promo-course__content">
							<div class="promo-course__subtitle title-80">На английском</div>
							<span class="promo-course__info-label">5 живых онлайн-лекций с тренером-носителем
								языка.</span>
							<div class="text promo-course__info-text">
								Чтобы научиться убеждать и производить<br />впечатление на
								английском.
							</div>
							<a href="#" class="bg-btn promo-course__btn">Записаться на курс</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section actuality section--white">
				<div class="container">
					<div class="section__inner">
						<h2 class="section-title section-title--dark">
							Почему это<br />актуально
						</h2>
						<div class="section__content text actuality__text">
							<p>
								Российские работодатели готовы платить сотрудникам, владеющим
								английским языком, на 10 - 40% больше. А специалистам,
								способствующим получению новых контрактов, выплачивать
								дополнительный бонус в виде процента от сделки.
							</p>
						</div>
					</div>
				</div>
			</section>
			@@include('../../blocks/modules/course-auditory/_course-auditory.html')
			<div class="marquee">
				<p>Начните уже сегодня!</p>
				<p>Начните уже сегодня!</p>
				<p>Начните уже сегодня!</p>
			</div>
			<section class="section skills section--white">
				<div class="container">
					<div class="section__inner">
						<h2 class="section-title section-title--dark">что изучите</h2>
						<div class="section__content">
							<div class="big-decor-title section__title">
								<span class="decor">Навыки,</span>
								<span class="no-decor">которыми</span><br /><span class="no-decor">вы овладете</span>
							</div>
							<ul class="list grid">
								<li class="list__item">Искусная самопрезентация</li>
								<li class="list__item">
									Создание и укрепление деловых связей
								</li>
								<li class="list__item">
									Управление проектами на английском языке
								</li>
								<li class="list__item">
									Деловая переписка на английском в e-mail и мессенджерах
								</li>
								<li class="list__item">
									Убедительная презентация своих проектов
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			@@include('../../blocks/modules/study-process/_study-process.html')
			<section class="section course-program section--white">
				<div class="container">
					<div class="section__inner">
						<h2 class="section-title section-title--dark">программа</h2>
						<div class="section__content">
							<div class="big-decor-title section__title course-program__title">
								<span class="decor">Как</span>
								<span class="no-decor">это будет</span>
							</div>
							<div class="accordion">
								<div class="accordion__item accordion__item--active">
									<div class="accordion__item-summary">
										<h6 class="accordion__item-title title-40">
											Убедительные электронные письма на английском языке
										</h6>
									</div>
									<div class="accordion__item-details text">
										Научитесь писать электронные письма, которые невозможно
										проигнорировать и оставить без ответа.
									</div>
								</div>
								<div class="accordion__item">
									<div class="accordion__item-summary">
										<h6 class="accordion__item-title title-40">
											Навыки презентации для малых групп на английском языке
										</h6>
									</div>
									<div class="accordion__item-details text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Minus maxime sint itaque labore, ratione eos ea cupiditate
										laborum ullam fugit hic facilis enim asperiores inventore,
										accusantium fuga totam? In, aut!
									</div>
								</div>
								<div class="accordion__item">
									<div class="accordion__item-summary">
										<h6 class="accordion__item-title title-40">
											Секреты успешных деловых встреч
										</h6>
									</div>
									<div class="accordion__item-details text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Minus maxime sint itaque labore, ratione eos ea cupiditate
										laborum ullam fugit hic facilis enim asperiores inventore,
										accusantium fuga totam? In, aut!
									</div>
								</div>
								<div class="accordion__item">
									<div class="accordion__item-summary">
										<h6 class="accordion__item-title title-40">
											Эффективное резюме на английском языке
										</h6>
									</div>
									<div class="accordion__item-details text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Minus maxime sint itaque labore, ratione eos ea cupiditate
										laborum ullam fugit hic facilis enim asperiores inventore,
										accusantium fuga totam? In, aut!
									</div>
								</div>
								<div class="accordion__item">
									<div class="accordion__item-summary">
										<h6 class="accordion__item-title title-40">
											Навыки делового общения<br />на английском языке:
											вживую<br />и онлайн
										</h6>
									</div>
									<div class="accordion__item-details text">
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Minus maxime sint itaque labore, ratione eos ea cupiditate
										laborum ullam fugit hic facilis enim asperiores inventore,
										accusantium fuga totam? In, aut!
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			@@include('../../blocks/modules/how-we-study/_how-we-study.html')
			<div class="marquee">
				<p>Начните уже сегодня!</p>
				<p>Начните уже сегодня!</p>
				<p>Начните уже сегодня!</p>
			</div>
			<section class="section course-speaker section--white">
				<div class="container">
					<div class="section__inner">
						<h2 class="section-title section-title--dark">Преподаватель</h2>
						<div class="section__content">
							<div class="big-decor-title section__title course-speaker__title">
								<span class="decor">Спикер</span>
								<span class="no-decor">курса</span>
							</div>
							<div class="course-speaker__name title-40">Vincent Merrone</div>
							<div class="text course-speaker__text">
								<p>
									Бакалавр антропологии и философских наук Colorado State
									University в США. Магистр наук по международным отношениям.
									Имеет сертификат CELTA (Certificate in English Language
									Teaching to Adults), подтверждающий его высокий уровень
									преподавания английского языка как иностранного.
								</p>
								<br />
								<p>
									Опытный педагог, великолепный оратор. Тренер навыков
									бизнес-коммуникации и Soft Skills для специалистов
									крупнейших российских предприятий и госкорпораций.
								</p>
							</div>
							<div class="video">
								<img src="img/speaker.jpg" alt="спикер" class="course-speaker__video-bg" />
								<a href="https://www.youtube.com/watch?v=CAU2zx2Ri_M" class="video__player open-video">
									<svg viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M28 16.5L0.249998 32.5215L0.25 0.47853L28 16.5Z" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			@@include('../../blocks/modules/course-buying/_course-buying.html')
		</main>
		@@include('../../blocks/modules/footer/_footer.html')
		@@include('../../blocks/modules/popups/_popups.html')
	</div>
	@@include('../_js.html')
</body>

</html>