<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Главная"
})

<body>

    <div class="wrapper">
        <main class="page home-page">
            @@include('../../blocks/modules/promo/_promo.html')

            @@include('../../blocks/modules/about/_about.html')

            @@include('../../blocks/modules/coaches/_coaches.html')

            @@include('../../blocks/modules/ceo/_ceo.html')

            @@include('../../blocks/modules/clients/_clients.html')

            @@include('../../blocks/modules/licenses/_licenses.html')

            @@include('../../blocks/modules/events/_events.html')

            @@include('../../blocks/modules/order/_order.html')

            @@include('../../blocks/modules/why/_why.html')

            @@include('../../blocks/modules/study-process/_study-process.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>