<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Мероприятия"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <div class="container">
            <nav class="breadcrumbs">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>О нас</span>
                    </li>
                </ol>
            </nav>

            <main class="page mobile-platform">
                <div class="mobile-platform__top grid">
                    <div class="title-80">
                        Интерактивная
                    </div>
                    <h1>
                        мобильная и веб-платформа
                    </h1>
                    <div class="mobile-platform__subtitle-inner">
                        <div class="title-80">
                            NEXT LEVEL
                        </div>
                        <div class="text">
                            Иммерсивный процесс обучения
                        </div>
                    </div>
                </div>
                <div class="section mobile-platform__row">
                    <div class="mobile-platform__col">
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/1.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="decor">Динамичные</span>
                                <span class="no-decor">учебные планы</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                <p>
                                    Отличие нашего подхода в том, что мы не предлагаем знания, чтобы складывать их в
                                    копилку. Но предлагаем вам измениться самим. Научиться иначе мыслить.
                                </p>
                                <p>Общаться.</p>
                                <p>Ощущать себя увереннее.</p>
                                <p>
                                    И тогда уже никакие шторма внешнего мира не сокрушат вашу стабильность и путь к
                                    успеху.
                                </p>
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/2.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="decor">Взаимодействие</span>
                                <span class="no-decor">внутри</span>
                                <span class="no-decor">сообщества</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                Вы сможете общаться индивидуально и в группах
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/3.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="decor">Высочайшее</span>
                                <span class="no-decor">качество</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                NEXT LEVEL предоставляет вам бизнес коучей более с чем 10-летним стажем
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/4.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="decor">Помощь</span>
                                <span class="no-decor">и поддержка</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                Каждый участник может обратиться к индивидуальному коучу посредством видеозвонков и
                                сообщений
                            </div>
                        </div>
                    </div>
                    <div class="mobile-platform__col">
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/5.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="decor">Мультимедийные</span>
                                <span class="no-decor">ресурсы</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                Вам доступны видео, статьи, опросы, квизы и многое другое
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/6.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="no-decor">Платформа</span>
                                <span class="decor">подстраивается</span>
                                <span class="no-decor">под вас</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                <p>В вашем распоряжении - гибкая система тестирования</p>
                                <p>Вы можете менять направление программы исходя из своих потребностей</p>
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/7.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="no-decor">Вы видите</span>
                                <span class="decor">настоящие</span>
                                <span class="no-decor">результаты обучения</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                <p>
                                    Демонстративные количественные результаты показывают окупаемость ваших программ
                                    коучинга от NEXT LEVEL
                                </p>
                                <p>
                                    Мы предоставляем полную прозрачность благодаря корпоративной приборной панели NEXT
                                    LEVEL для отслеживания вовлечённости, удовлетворённости и воздействия на всех
                                    участников процесса обучения
                                </p>
                            </div>
                        </div>
                        <div class="mobile-platform__card card">
                            <div class="mobile-platform__card-img">
                                <img src="img/mobile-platform/8.png" alt="">
                            </div>
                            <div class="mobile-platform__card-title decor-title title-40">
                                <span class="no-decor">Наша платформа легко</span>
                                <span class="decor">масштабируется</span>
                            </div>
                            <div class="text mobile-platform__card-text">
                                NEXT LEVEL охватывает всю Россию и гарантирует вовлеченный опыт для всех: это обучение
                                сотен, а не нескольких людей - с помощью цифрового решения NEXT LEVEL
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>