<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Новости"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <nav class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#">
                            База знаний
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#">
                            Новости
                        </a>
                    </li>
                </ol>
            </div>
        </nav>

        <main class="news">
            <div class="container">
                <h1 class="page-title">Новости</h1>
                <div class="section-inner">
                    <h2 class="section-title">
                        Свежие<br>
                        события
                    </h2>
                    <div class="content news__list-block text">
                        Узнавайте первыми о:
                        <ul class="list news__list grid">
                            <li class="list__item">Новых направлениях образования</li>
                            <li class="list__item">Открытых мероприятиях NEXT LEVEL</li>
                            <li class="list__item">И возможностях обучаться бесплатно.</li>
                        </ul>
                    </div>
                </div>

                <div class="section">
                    <div class="news__cards grid col-6">
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/1.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-01">01/08/21</time>
                                <h6 class="blog-card__title">
                                    Новый выпуск из нашего образовательного центра побил все рекорды успешности
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/2.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-02">02/08/21</time>
                                <h6 class="blog-card__title">
                                    Посмотрите как прошла презентация нового проекта EasyNoodle
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/3.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-05">05/08/21</time>
                                <h6 class="blog-card__title">
                                    Открылось новое направление NEXT LEVEL
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/4.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                <h6 class="blog-card__title">
                                    «Это могло бы быть худшим мероприятием, но...»
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/5.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-12">12/08/21</time>
                                <h6 class="blog-card__title">
                                    Как сделать спецпроект для бренда и не облажаться на всех этапах
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/6.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                <h6 class="blog-card__title">
                                    Юбилей проекта NEXT LEVEL<br>
                                    NEXT LEVEL | Education - 18 лет
                                </h6>
                            </a>
                        </article>
                        <article class="news__card blog-card">
                            <a class="blog-card__inner" href="#">
                                <img class="blog-card__img" src="img/news/7.jpg" alt="">
                                <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                <h6 class="blog-card__title">
                                    Первое выступление нового спикерапроизвело невероятное впечателние на аудиторию
                                </h6>
                            </a>
                        </article>
                    </div>

                    <div class="more-news">
                        <div class="news__cards grid col-6 more">
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/2.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-02">02/08/21</time>
                                    <h6 class="blog-card__title">
                                        Посмотрите как прошла презентация нового проекта EasyNoodle
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/1.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-01">01/08/21</time>
                                    <h6 class="blog-card__title">
                                        Новый выпуск из нашего образовательного центра побил все рекорды успешности
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/3.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-05">05/08/21</time>
                                    <h6 class="blog-card__title">
                                        Открылось новое направление NEXT LEVEL
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/4.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        «Это могло бы быть худшим мероприятием, но...»
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/5.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-12">12/08/21</time>
                                    <h6 class="blog-card__title">
                                        Как сделать спецпроект для бренда и не облажаться на всех этапах
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/6.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        Юбилей проекта NEXT LEVEL<br>
                                        NEXT LEVEL | Education - 18 лет
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/7.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        Первое выступление нового спикерапроизвело невероятное впечателние на аудиторию
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/2.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-02">02/08/21</time>
                                    <h6 class="blog-card__title">
                                        Посмотрите как прошла презентация нового проекта EasyNoodle
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/1.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-01">01/08/21</time>
                                    <h6 class="blog-card__title">
                                        Новый выпуск из нашего образовательного центра побил все рекорды успешности
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/3.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-05">05/08/21</time>
                                    <h6 class="blog-card__title">
                                        Открылось новое направление NEXT LEVEL
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/4.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        «Это могло бы быть худшим мероприятием, но...»
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/5.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-12">12/08/21</time>
                                    <h6 class="blog-card__title">
                                        Как сделать спецпроект для бренда и не облажаться на всех этапах
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/6.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        Юбилей проекта NEXT LEVEL<br>
                                        NEXT LEVEL | Education - 18 лет
                                    </h6>
                                </a>
                            </article>
                            <article class="news__card blog-card">
                                <a class="blog-card__inner" href="#">
                                    <img class="blog-card__img" src="img/news/7.jpg" alt="">
                                    <time class="card-label blog-card__label" datetime="2021-08-08">08/08/21</time>
                                    <h6 class="blog-card__title">
                                        Первое выступление нового спикерапроизвело невероятное впечателние на аудиторию
                                    </h6>
                                </a>
                            </article>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn section-btn blog-section__btn" type="button">
                            Смотреть все новости
                        </button>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')

        @@include('../../blocks/modules/popups/_popups.html')
    </div>

    @@include('../_js.html')

</body>

</html>