.work-principle {

    padding-bottom: 24rem;
    background-color: $white;

    // .work-principle__inner

    &__inner {}

    // .work-principle__title

    &__title {
        margin-bottom: 8rem;

        @media(max-width: 992px) {
            grid-row-gap: 0.8rem;
            margin-bottom: 3rem;
        }

        span:before {
            width: 23rem;
            top: 50%;
            transform: translateY(-50%) rotate(-3deg);
            left: -3.5rem;

            @media(max-width: 992px) {
                width: 6rem;
                left: -1rem;
                height: 3.5rem;
            }
        }
    }

    // .work-principle__content

    &__content {
        width: 99.5rem;

        @media(max-width: 992px) {
            width: 100%;
            margin-top: 5rem;
        }
    }

    // .work-principle__list

    &__list {
        &--1 {
            width: 59.5rem;
        }

        @media(max-width: 768px) {
            width: 100%;
        }

        &--2 {
            width: 74.7rem;
            margin-left: 6.8rem;

            @media(max-width: 768px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    // .work-principle__list-item

    &__list-item+&__list-item {
        margin-top: 4rem;

        @media(max-width: 992px) {
            margin-top: 2rem;
        }
    }

    &__wrapper {
        @media(min-width: 768px) {
            display: flex;
        }
    }

    // .work-principle__wrap

    &__wrap {
        display: flex;
        justify-content: center;
        margin-top: 8rem;

        @media(max-width: 992px) {
            margin-top: 5rem;
        }

        @media(max-width: 768px) {
            margin-top: 3rem;
        }

        @media(max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    // .work-principle__img

    &__img {
        &--man {
            width: 55rem;
            //height: 62.8rem;
            margin-top: -8rem;

            //bottom: 100%;
            //right: -15rem;
            @media(max-width: 768px) {
                width: auto;
                margin-top: 2rem;
            }
        }

        &--brain {
            width: 58.3rem;

            @media(max-width: 768px) {
                width: auto;
            }

            //height: 41rem;
            //top: 3rem;
            //left: -40rem;
        }
    }
}