.catalog {

    background-color: $pink-bg;
    padding-top: 10.5rem;
    padding-bottom: 32rem;

    @media(max-width: 992px) {
        padding: 5.5rem 0;
    }

    // .catalog__filters

    &__filters {
        width: 40rem;

        @media(max-width: 992px) {
            width: 100%;
            margin-bottom: 9.5rem;
        }
    }

    &__item+&__item {
        margin-top: 12rem;

        @media(max-width: 992px) {
            margin-top: 6.5rem;
        }
    }

    &__aside-title {
        color: rgba($dark, .5);
        margin-bottom: 3.7rem;

        @media(max-width: 992px) {
            margin-bottom: 4rem;
        }
    }
}

.catalog-item {
    &__top {
        @extend %flex-row-center;
        margin-bottom: 5.5rem;
    }

    &__title {
        font-size: 4rem;
        line-height: 3.9rem;
        text-transform: uppercase;

        @media(max-width: 992px) {
            font-size: 3.2rem;
            line-height: 3.1rem;
        }

        .decor:before {
            height: 7.2rem;

            @media(max-width: 992px) {
                height: 6rem;
            }
        }
    }
}

.catalog-card {
    width: 44.8rem;
    min-height: 44rem;
    padding: 3.2rem 2.7rem 3.2rem 4rem;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
    @media(max-width: 500px) {
        width: auto;
        min-height: auto;
        min-height: 25rem;
        padding: 3.2rem 3rem;
    }

    // .catalog-card__label

    &__label {
        border-radius: 2.4rem;
        padding: 0.8rem 2.4rem;
        @extend %text-18;
        margin-bottom: 1.5rem;

        @media(max-width: 500px) {
            font-size: 1.2rem;
            padding: .3rem 1.8rem;
            margin-bottom: 1.2rem;
        }
    }

    &__label+&__label {
        margin-left: 1rem;
    }

    // .catalog-card__title

    &__title {
        margin-bottom: 1.2rem;
    }

    // .catalog-card__text

    &__text {
        //max-width: 27.2rem;
        color: $dark;
        margin-bottom: 2.4rem;

        @media(max-width: 500px) {
            margin-bottom: 1.2rem;
            max-width: 24rem;
        }
        p+p {
            margin-top: 2rem;
            @media(max-width: 500px) {
                margin-top: 1rem;
            }
        }
    }
}

.catalog-slider {
    @media(max-width: 500px) {
        margin: 0 -2rem;
        padding-bottom: 5rem;
    }

    .slick-slide {
        margin-right: $gap;

        @media(max-width: 500px) {
            margin: 0 1rem;
        }
    }
}

.p-catalog {
    h1 {
        @media(max-width: 500px) {
            display: grid;
            grid-row-gap: 1rem;
            font-size: 5.6rem;
            line-height: 5.4rem;
            margin-bottom: 6rem;
        }

        span {
            &:last-child {
                @media(max-width: 500px) {
                    text-align: right;
                }
            }
        }
    }
}